<div class="container my-5 py-5">
  <div>
    <h2 class="text-white text-center mt-4 mb-5">We are almost done...</h2>
    <form>
    <div class="form-group row text-white"></div>
      <label for="inputPassword3" class="col-sm-2 col-form-label text-white">Confirm:</label>
      <div class="col-sm-9 mb-5">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm your password">
      </div>
    </div>
    <fieldset class="form-group text-white">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Payment method:</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              Credit Card
            </label>
          </div>
          <div class="form-check text-white">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              Ticket
            </label>
          </div>
          <div class="form-check text-white">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
            <label class="form-check-label" for="gridRadios3">
              Pix
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row text-white">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            I accept all terms and conditions
          </label>
        </div>
      </div>
    </div>
      <%= link_to 'Buy', skin_orders_path, method: :post, class: 'btn btn-warning btn-block mt-5' %>
    </form>
  </div>
</div>
