<div class="container rounded p-3 my-3 shadow" style="background-color: #70609b">
  <p><%= @user.name %></p>
  <% if current_user&.photo.key %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://toppng.com/uploads/preview/app-icon-set-login-icon-comments-avatar-icon-11553436380yill0nchdm.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
  <%= link_to "Edit Profile", edit_user_registration_path,  class:"btn btn-warning" %>
</div>
